<div class="container0">
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <div class="col-md-3">
  </div>
  <div class="text-center col-md-6">
    <%= form_tag("/users/create") do %>
      <br>
      <input name="name" class="form-control" placeholder="ニックネーム" value="<%=  %>" required autofocus>
      <br>
      <input name="login_id" class="form-control" placeholder="ID" value="<%=  %>" required>
      <br>
      <input name="password" type="password" class="form-control" placeholder="Password" value="<%=  %>" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
      <br><br>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    <% end %>
  </div>

</div>
